* {
    --background-default: #303030;
    --container: #424242;
    /* makes sure that the padding and border are included in the total width and height of the elements */
    box-sizing: border-box;
    font-family: Consolas, monaco, monospace;
}

#background {
    background-color: var(--background-default);
}

.col-logo-container {
    /* the left hand column of the webpage holding the ROBOTICS IMS Logo */
    width: 50%;
    height: 90vh;
    float: left;
    background-color: #2b2b2b;
    position:absolute;
    left:0%;
    top:0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-info-container {
    /* the right hand column of the webpage holding the login container */
    width: 50%;
    height: 90vh;
    float: left;
    position:absolute;
    left:50%;
    top:0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container {
    width: 40%;
    position: absolute;
    left: 50%;
    top: 25%;
    /* the login container */
    background-color: var(--container);
    border-radius: 25px;    
}

.change-page {
    display: flex;
    flex-direction: row;
    position: relative;
    left: -15%;
    margin: 10px;
}

.info-container h2, a {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    padding: 10px 10px 0px 10px;
}

.info-container form label {
    padding: 15px 8px 17px 15px;
    width: 15%;
    height: 50px;
    background-color: #242424;
    color: #ffffff;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.info-container form input[type="password"], .info-container form input[type="text"] {
    display: inline-block;
    text-align: left;
    width: 65%;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid #242424;
    padding: 0 15px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.info-container a {
    position: relative;
    left: 35%;
    text-decoration: none;
    width: 30%;
    text-align: center;
    padding: 15px 0px 15px 0px;
    background-color: #242424;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    border-radius: 25px;
}

.info-container form input[type="submit"] {
    width: 80%;
    text-align: center;
    padding: 15px 0px 15px 0px;
    background-color: #242424;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    border-radius: 25px;
}

.footer {
    /* the page footer */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: #242424;
    color: white;
    text-align: left;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.iceburg {
    /* the ICEBURG Logo */
    max-width: 7vh;
    max-height: 100%;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
    [class*="col-"] {
      width: 100%;
      height: 45vh;
      left: 0%;
    }
    .col-info-container {
        top: 45vh;
    }
    .info-container {
        width: 90%;
    }
}